pygame==2.6.1


# Run commands
pyinstaller --add-data "assets:assets" --onefile main.py
wine ./dist/main

[Space Shooter]
-----------------

Windows Users:
1. Extract all files
2. Double-click YourGameName.exe to play

Linux Users:
1. Extract all files
2. Install Wine if you haven't already:
sudo apt install wine
3. Open terminal in the game directory
4. Run: wine YourGameName.exe

Controls:
WASD for movement
space bar to shoot

Credits:
Andrew Vreeland


-----------------

to create more copies

cp dist/main "dist/SpaceShooter.exe"